// Copyright 2020-2026 Markus Leupold-Löwenthal
//
// This file is part of wiki.md.
//
// wiki.md is free software: you can redistribute it and/or modify it under the
// terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// wiki.md is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with wiki.md. If not, see <https://www.gnu.org/licenses/>.

////
/// @group base
/// @access public
////

@use '../global' as *;

// We try to use relative units (em) if possible, so that it is easier to scale
// the font/element on its font-size.

@use '../../fonts/NotoSerif/font' as *;
@use '../../fonts/NotoSansMono/font' as *;

// ---------------------------------------------------------------------

html {
  font-size: 16px; // root font size
}

html,
body {
  background-color: $color-bg;
}

body {
  @include typography-font(
    $typography-font-list-serif,
    400,
    $typography-body-font-size,
    1.6em
  );

  color: $color-text;

  a {
    @include typography-links(
      $color-primary,
      $color-text,
      1px,
      transparent,
      $color-primary
    );

    &.broken {
      @include typography-links(
        $color-negative,
        $color-text,
        1px,
        $color-negative,
        $color-negative
      );
    }
  }
}

pre,
kbd,
code,
samp {
  @include typography-font(
    $typography-font-list-monospace,
    400,
    px(16),
    1.4em,
    0,
    75%
  );

  color: $color-text;
  padding: 0.1em 0.25em;
}

pre {
  padding: 0.75em;

  code {
    padding: 0;
  }
}

.h0 {
  @extend %h0;
}

h1,
.h1 {
  @extend %h1;
}

h2,
.h2 {
  @extend %h2;
}

h3,
.h3 {
  @extend %h3;
}

h4,
.h4 {
  @extend %h4;
}

h5,
.h5 {
  @extend %h5;
}

h6,
.h6 {
  @extend %h6;
}

ul,
ol {
  margin-top: 0;
  padding-left: $spacing-large;

  li,
  li:first-child {
    margin-top: $spacing-small !important; // sass-lint:disable-line no-important
  }
}

ul {
  list-style-type: disc;
  margin-top: $spacing;
}

b,
strong {
  color: $color-text-bold;
  font-weight: 700;
}

// i,
// em {
//   letter-spacing: .02em;
// }

blockquote {
  border-left: px(4) solid $color-line;
  padding-left: calc($spacing-large - px(4));
}

dl {
  dt {
    color: $color-headline;
  }

  dd {
    margin-left: $spacing-large;
    margin-top: $spacing-small;
  }
}

.minor {
  opacity: 0.5;
}

hr {
  border: 0;
  border-bottom: 2px solid $color-line;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

a[href^='http:']:not(.no-icon)::after,
a[href^='https:']:not(.no-icon)::after {
  content: '⇗';
  font-size: 0.75em;
  padding-bottom: 0.25em;
  position: relative;
  top: -0.5em;
}
