@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/NotoSerif/Noto_Serif_400.woff2') format('woff2');
}
@font-face {
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/NotoSerif/Noto_Serif_400i.woff2') format('woff2');
}
@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/NotoSerif/Noto_Serif_700.woff2') format('woff2');
}
@font-face {
	font-family: 'Noto Serif';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/NotoSerif/Noto_Serif_700i.woff2') format('woff2');
}
