// Copyright 2020-2022 Markus Leupold-Löwenthal
//
// This file is part of wiki.md.
//
// wiki.md is free software: you can redistribute it and/or modify it under the
// terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// wiki.md is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with wiki.md. If not, see <https://www.gnu.org/licenses/>.

////
/// @group themes
/// @access public
////

// Basic/generic color values.

$color-white-100: rgba(255, 255, 255, 1);
$color-white-90a: rgba(255, 255, 255, .9);
$color-white-80a: rgba(255, 255, 255, .8);
$color-white-70a: rgba(255, 255, 255, .7);
$color-white-60a: rgba(255, 255, 255, .6);
$color-white-50a: rgba(255, 255, 255, .5);
$color-white-40a: rgba(255, 255, 255, .4);
$color-white-30a: rgba(255, 255, 255, .3);
$color-white-20a: rgba(255, 255, 255, .2);
$color-white-10a: rgba(255, 255, 255, .1);

$color-gray-90: #e6e6e6;
$color-gray-80: #ccc;
$color-gray-70: #b3b3b3;
$color-gray-60: #999;
$color-gray-50: #808080;
$color-gray-40: #666;
$color-gray-30: #4d4d4d;
$color-gray-20: #333;
$color-gray-10: #1a1a1a;

$color-black-100: rgba(0, 0, 0, 1);
$color-black-90a: rgba(0, 0, 0, .9);
$color-black-80a: rgba(0, 0, 0, .8);
$color-black-70a: rgba(0, 0, 0, .7);
$color-black-60a: rgba(0, 0, 0, .6);
$color-black-50a: rgba(0, 0, 0, .5);
$color-black-40a: rgba(0, 0, 0, .4);
$color-black-30a: rgba(0, 0, 0, .3);
$color-black-20a: rgba(0, 0, 0, .2);
$color-black-10a: rgba(0, 0, 0, .1);

$color-primary: $color-gray-80;
$color-secondary: $color-gray-70;

$color-bg: $color-white-100;
$color-bg-highlight: $color-gray-80;
$color-text: $color-black-100;
$color-headline: $color-text;
$color-text-bold: $color-text;
