// Copyright 2020 Markus Leupold-Löwenthal
//
// This file is part of wiki.md.
//
// wiki.md is free software: you can redistribute it and/or modify it under the
// terms of the GNU Affero General Public License as published by the Free
// Software Foundation, either version 3 of the License, or (at your option) any
// later version.
//
// wiki.md is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
// A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with wiki.md. If not, see <https://www.gnu.org/licenses/>.

////
/// @group themes
/// @access public
////

// Color values for 'elegant' theme.

$theme-color1: #9b6a6c;
$theme-color2: #202020;
$theme-color3: #fefdfa;
$theme-color4: #f4eeec;
$theme-color5: #404040;
$theme-color6: #c9aeae;

$color-primary: $theme-color1;

$color-bg: $theme-color3;
$color-bg-secondary: $theme-color4;
$color-bg-highlight: $color-bg-secondary;

$color-panel-bg: $theme-color4;
$color-text: $theme-color2;
$color-text-bold: $theme-color5;
$color-headline: $theme-color1;
$color-line: $color-black-10a;
$color-line-strong: $theme-color6;

$color-negative: #be4f4e;
$color-info: #496a81;
$color-warning: #d5a021;
$color-positive: #5fad41;

// #5D2E8C

pre,
code,
kbd,
samp {
  background-color: $theme-color4;
  border-radius: $var-border-radius;
}

.error {
  color: $color-negative;
}

.warning {
  color: $color-warning;
}
